---
http_interactions:
- request:
    method: post
    uri: https://igw-demo.every-pay.com/api/v3/payments/oneoff
    body:
      encoding: UTF-8
      string: '{"api_username":"someuser","account_name":"someaccount","customer_url":"https://httpbin.org/get","amount":"0.13","nonce":199371315853919146519086224534557392392,"timestamp":"2019-05-31T09:14:58+03:00","order_reference":"Order
        #1234"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c29tZXVzZXI6c29tZXBhc3N3b3Jk
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/plain
      Status:
      - 401 Unauthorized
      Www-Authenticate:
      - Basic realm="API Authorization"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 17 May 2020 09:33:53 GMT
recorded_with: VCR 5.1.0
