---
http_interactions:
- request:
    method: post
    uri: https://igw-demo.every-pay.com/api/v3/payments/cit
    body:
      encoding: UTF-8
      string: '{"order_reference":"#1234","token":"X","customer_url":"https://httpbin.org/get","api_username":"someuser","account_name":"someaccount","amount":"12.67","nonce":199371315853919146519086224534557392392,"timestamp":"2019-05-31T09:14:58+03:00"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c29tZXVzZXI6c29tZXBhc3N3b3Jk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Status:
      - 200 OK
      Www-Authenticate:
      - Basic realm="API Authorization"
    body:
      encoding: UTF-8
      string: '{"api_username":"abc12345","account_name":"EUR1","initial_amount":10.0,"standing_amount":10.0,"order_reference":"feiwhp28qy8ks7i12i63","email":"user@example.com","payment_method":"card","payment_link":"https://igw-demo.every-pay.com/lp/aedf32/ed4dod","payment_state":"waiting_for_3ds_response","fraud_score":325,"warnings":{"country_match":["Card issuer country (Estonia) does not match to the buyer country ()."]},"cc_details":{"token":"d841bcc672b0f76523a7fa13","last_four_digits":"1234","month":"1","year":"2017","holder_name":"Tom Smith","type":"master_card","issuer_country":"EE","issuer":"LHV Bank","cobrand":"Partner deebet","funding_source":"Debit","product":"DEBIT STANDARD","state_3ds":"no3ds"},"customer_ip":"1.2.3.4","customer_url":"https://shop.example.com/cart","payment_created_at":"2019-06-05T13:14:15+03:00","payment_reference":"db98561ec7a380d2e0872a34ffccdd0c4d2f2fd237b6d0ac22f88f52a"}'
  recorded_at: Sun, 17 May 2020 09:50:54 GMT
recorded_with: VCR 5.1.0
