---
http_interactions:
- request:
    method: post
    uri: https://igw-demo.every-pay.com/api/v3/payments/mit
    body:
      encoding: UTF-8
      string: '{"merchant_ip":"127.0.0.1","token":"X","token_agreement":"recurring","api_username":"someuser","account_name":"someaccount","amount":"12.67","nonce":199371315853919146519086224534557392392,"timestamp":"2019-05-31T09:14:58+03:00"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c29tZXVzZXI6c29tZXBhc3N3b3Jk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Status:
      - 200 OK
      Www-Authenticate:
      - Basic realm="API Authorization"
    body:
      encoding: UTF-8
      string: '{"api_username":"abc12345","account_name":"EUR1","initial_amount":10.0,"standing_amount":10.0,"order_reference":"feiwhp28qy8ks7i12i63","stan":"1234","email":"user@example.com","payment_method":"card","cc_details":{"token":"d841bcc672b0f76523a7fa13","last_four_digits":"1234","month":"1","year":"2017","holder_name":"Tom Smith","type":"master_card","issuer_country":"EE","issuer":"LHV Bank","cobrand":"Partner deebet","funding_source":"Debit","product":"DEBIT STANDARD","state_3ds":"no3ds"},"fraud_score":"500","warnings":{"country_match":["Card issuer country (Estonia) does not match the buyer country ()."]},"payment_created_at":"2019-06-05T13:14:15+03:00","payment_reference":"db98561ec7a380d2e0872a34ffccdd0c4d2f2fd237b6d0ac22f88f52a","payment_state":"settled"}'
  recorded_at: Sun, 17 May 2020 08:44:08 GMT
recorded_with: VCR 5.1.0
