---
http_interactions:
- request:
    method: post
    uri: https://igw-demo.every-pay.com/api/v3/payments/oneoff
    body:
      encoding: UTF-8
      string: '{"api_username":"someuser","account_name":"someaccount","customer_url":"https://httpbin.org/get","amount":"0.13","nonce":199371315853919146519086224534557392392,"timestamp":"2019-05-31T09:14:58+03:00","order_reference":"Order
        #1234"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c29tZXVzZXI6c29tZXBhc3N3b3Jk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Status:
      - 200 OK
      Www-Authenticate:
      - Basic realm="API Authorization"
    body:
      encoding: UTF-8
      string: '{"api_username":"abc12345","account_name":"EUR3D1","initial_amount":10.0,"standing_amount":10.0,"order_reference":"feiwhp28qy8ks7i12i63","email":"user@example.com","customer_ip":"1.2.3.4","customer_url":"www.abc.com/callback","payment_created_at":"2019-06-05T13:14:15+03:00","payment_reference":"db98561ec7a380d2e0872a34ffccdd0c4d2f2fd237b6d0ac22f88f52a","payment_link":"https://igw-demo.every-pay.com/lp/aedf32/ed4dod","payment_state":"initial","payment_methods":[{"source":"card","display_name":"VISA/Mastercard","logo_url":"https://igw-demo.every-pay.com/assets/card_logo.png","payment_link":"https://igw-demo.every-pay.com/lp/aedf32/ed4dod?method_source=card"}]}'
  recorded_at: Sun, 17 May 2020 08:37:58 GMT
recorded_with: VCR 5.1.0
