---
http_interactions:
- request:
    method: post
    uri: https://igw-demo.every-pay.com/api/v3/payments/void
    body:
      encoding: UTF-8
      string: '{"payment_reference":"db98561ec7a380d2e0872a34ffccdd0c4d2f2fd237b6d0ac22f88f52a","reason":"unknown reason","api_username":"someuser","nonce":199371315853919146519086224534557392392,"timestamp":"2019-05-31T09:14:58+03:00"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c29tZXVzZXI6c29tZXBhc3N3b3Jk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Status:
      - 200 OK
      Www-Authenticate:
      - Basic realm="API Authorization"
    body:
      encoding: UTF-8
      string: '{"api_username":"abc12345","transaction_time":"2015-04-02T07:53:07Z","payment_reference":"db98561ec7a380d2e0872a34ffccdd0c4d2f2fd237b6d0ac22f88f52a","payment_state":"voided"}'
  recorded_at: Sun, 17 May 2020 08:49:12 GMT
recorded_with: VCR 5.1.0
